* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    padding: 40px;
}

#form-container {
    background-color: lightgray;
    padding: 20px 50px;
}

#survey-form {
    background-color: white;
    border-radius: 20px;
    padding: 20px 50px;
}
