* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    padding: 40px;
}

#form-container {
    background-color: lightgray;
    padding: 20px 0px;
}

#survey-form {
    margin: auto;
    border-radius: 8px;
    max-width: 640px;
    padding: 20px 50px;
    background-color: white;
}